@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
  font-family: 'GentiumAlt';
  src: url('/fonts/GenAR102.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prototype';
  src: url('/fonts/Prototype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
	font-family: 'Prototype', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: url(/images/bg-silicon-desert-screenshot.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.text-sd-narration {
  color: #cccccc
}

.link-sd-narration {
  color: #cccccc
}

.link-sd-narration:hover {
  color: #eeeeee
}

.link-sd-dark {
  color: #666666
}

.link-sd-dark:hover {
  color: #888888
}

.text-sd-choice {
  color: #bbdddd
}

.text-nassau-standard {
  font-family: 'GentiumAlt';
  color: #cccccc
}

.text-computer-green {
  font-family: 'Prototype';
  color: #226622
}

.link-computer-green {
  font-family: 'Prototype';
  color: #226622
}

.link-computer-hover {
  font-family: 'Prototype';
  color: #448844
}

span {
	color: #226622;
}
